body {
  background-color: $color__white;
  color: $color__text-primary;
}

.entry-title a {
  color: $color__text-primary;
}

.entry-meta,
.entry-meta a {
  color: $color__text-light;
  text-transform: uppercase;

  .byline,
  .posted-on {
    display: inline;
  }

  .byline + .posted-on {
    &:before {
      content: '  |  ';
    }
  }

}

table {
  @extend .table;
  width: 100%;
}

.read-more {
  padding-bottom: .5em;
  text-transform: uppercase;
  border-bottom: 1px solid $color__black;
}

.category-links {
  @include no-bullets;
}
.category-link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;

  a {
    @extend .btn;
    @extend .btn-secondary;
    background-color: $color__gray-lightest;
    border: none;

    color: $color__gray-dark;
  }
}
.category-link + .category-link {
  margin-left: .25em;
  margin-right: 25em;
}

.screen-reader-text {
  @include visually-hidden;
}
