body {
  background-color: $color__white;
  color: $color__text-primary;
  overflow-x: hidden;
}

.entry-title a {
  color: $color__text-primary;
}

.entry-meta,
.entry-meta a {
  color: $color__text-xlight;
  text-transform: uppercase;

  .byline,
  .posted-on {
    display: inline;
    font-size: .75rem;
    letter-spacing: 0.4px;

    a:hover,
    a:focus {
      color: $color__link-hover;
      text-decoration: none;
    }
  }

  .byline + .posted-on {
    &:before {
      content: '  |  ';
    }
  }

}

table {
  @extend .table;
  width: 100%;
}

.read-more {
  padding-bottom: .5em;
  text-transform: uppercase;
  border-bottom: 1px solid $color__text-xlight;
  font-weight: 600;

  &:hover,
  &:focus {
    color: $color__secondary;
    text-decoration: none;
    border-bottom-color: $color__link-hover;
  }
}

.entry-footer span {
  padding-right: .5em;
}

.screen-reader-text,
.assistive-text {
  @include visually-hidden;
}

ul[class$='links'] {
  @include no-bullets;
  color: $color__text-xlight;
  font-family: $font__serif;
  font-weight: 700;
}

li[class$='link'] {
  display: inline-block;
}

li[class$='link'] a {
  border: none;
  color: $color__text-xlight;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color__link-hover;
  }
}

li[class$='link'] + li[class$='link'] {
  margin-left: 2em;
}

.btn,
button {
  text-transform: uppercase;
  font-family: $font__sans-serif;
  border: none !important;
}

.btn-primary {
  background-color: $color__accent !important;
  border: none;
  color: $color__text-inverted;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($color__accent, 10%);
    border: none;
    color: $color__text-inverted;
  }
}

.btn-secondary {
  background-color: $color__secondary;
  border: none;
  color: $color__text-inverted !important;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($color__secondary,10%);
    border: none;
  }
}
