body {
  background-color: $color__white;
  color: $color__text-primary;
  overflow-x: hidden;
}

.entry-title a {
  color: $color__text-primary;
}

.entry-meta,
.entry-meta a {
  color: $color__text-xlight;
  text-transform: uppercase;

  .byline,
  .posted-on {
    display: inline;
  }

  .byline + .posted-on {
    &:before {
      content: '  |  ';
    }
  }

}

table {
  @extend .table;
  width: 100%;
}

.read-more {
  padding-bottom: .5em;
  text-transform: uppercase;
  border-bottom: 1px solid $color__black;
}

.category-links {
  @include no-bullets;
}
.category-link {
  display: inline-block;

  a {
    border: none;
    font-family: $font__serif;
    color: $color__text-light;
  }
}
.category-link + .category-link {
  margin-left: 2em;
}

.screen-reader-text,
.assistive-text {
  @include visually-hidden;
}
