#wrapper-footer-full {
  padding-top: 112px;
  padding-bottom: 90px;

  color: $color__text-light;

  .row {
    justify-content: space-between;
  }

  .widget-1 {
    @extend .col-md-4;
    margin-bottom: 2em;

    @include breakpoint(sm) {
      margin-bottom: 0;
    }
  }
  .widget-2 {
    @extend .col-md-4;
  }
  .widget-3 {
    @extend .col-md-4;
  }

  .widget-title {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font__sans-serif;
    color: $color__text-light;
  }

  .widget_caldera_forms_widget,
  .caldera-grid,
  .mc4wp-form {

    .mc4wp-form-fields {
      display: flex;
      flex-wrap: no-wrap;
    }

    .control-label {
      @include visually-hidden;
    }

    .form-control {
      font-size: $font__size-small;
    }

    input[type=email],
    input[type=submit] {
      height: 50px;
      border: none;
      font-size: $font__size-small;
      border-radius: 0;
    }

    input[type=email] {
      &::placeholder {
        text-transform: uppercase;
      }
    }

    $button-width: 72px;

    .col-sm-9 {
      flex-basis: calc( 100% - #{$button-width} );
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;

    }
    .col-sm-3 {
      flex-basis: $button-width;
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
    }

  }

  .mc4wp-form {
    margin-bottom: 15px;
  }

  .widget_text {
    .littlesis-logo {
      width: 157px;
      height: 33px;
      background-image: url( '../images/littlesis-logo.svg' );
      background-repeat: no-repeat;
      background-size: contain;
    }

  }

}
