#wrapper-footer-full {
  padding-top: 112px;
  padding-bottom: 90px;

  color: $color__text-light;

  .widget-1 {
    margin-bottom: 2em;

    @include breakpoint(sm) {
      margin-bottom: 0;
    }
  }
  .widget-2 {
    @extend .col-md-4;
    @extend .offset-md-4;
  }
  .widget-3 {
    @extend .col-md-4;
    @extend .offset-md-8;
  }

  .widget_wpcom_social_media_icons_widget {
    ul {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .widget_caldera_forms_widget,
  .widget_wpcom_social_media_icons_widget {
    .widget-title {
      margin-bottom: 1em;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $font__sans-serif;
      color: $color__text-light;
    }

    .genericon {
      color: $color__text-inverted;
      background-color: $color__accent;
      padding: .5em;
      border-radius: 50%;
    }

  }

  .widget_caldera_forms_widget {

    .control-label {
      @include visually-hidden;
    }

    input[type=email],
    input[type=submit] {
      height: 50px;
      border: none;
      font-size: $font__size-small;
      border-radius: 0;
    }

    input[type=email] {
      &::placeholder {
        text-transform: uppercase;
      }
    }

    $button-width: 72px;

    .col-sm-9 {
      flex-basis: calc( 100% - #{$button-width} );
      padding-right: 0;
      padding-left: 5px;
      margin-right: 0;

    }
    .col-sm-3 {
      flex-basis: $button-width;
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
    }

  }

  .widget_text {
    .littlesis-logo {
      width: 157px;
      height: 33px;
      background-image: url( '../images/littlesis-logo.svg' );
      background-repeat: no-repeat;
      background-size: contain;
    }

  }

}
