%placeholder {
  font-size: $font__size-h5;
  color: $color__text-xlight;
  font-family: $font__sans-serif;
}

::-webkit-input-placeholder {
  @extend %placeholder;
}

:-moz-placeholder { /* Firefox 18- */
  @extend %placeholder;
}

::-moz-placeholder { /* Firefox 19+ */
  @extend %placeholder;
}

:-ms-input-placeholder { /* IE 10+ */
  @extend %placeholder;
}

::-ms-input-placeholder { /* Edge */
  @extend %placeholder;
}

:placeholder-shown { /* Standard one last! */
  @extend %placeholder;
}

.top-search {
  @extend .row;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 2px solid $color__border;
  transition: all .2s ease-in-out;

  &.collapsed {
    max-height: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
  }

  &.expanded {
    max-height: 300px;
    visibility: visible;
    opacity: 1;
  }

  #searchform {
    @extend .col-10;
    @extend .col-md-7;

    @include breakpoint( md ) {
      padding-left: 0;

      .field {
        padding-left: 1rem;
      }
    }
  }
  input[type=text] {
    border: none;

    font-size: $font__size-h5;
    color: $color__text-light;
    font-family: $font__sans-serif;

    &:placeholder {
      font-size: $font__size-h5;
      color: $color__text-xlight;
      font-family: $font__sans-serif;
    }
  }
  input[type=submit] {
    @include visually-hidden;
  }

  .search-control {
    @extend .col-2;
    @extend .col-md-5;
    text-align: right;
    padding-left: 1rem;

    button {
      height: 38.5px;
      width: 17px;
      padding: 0;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-image: url( '../images/close.svg' );
      background-position: center;
    }
  }
}
