#wrapper-static-hero {
  background-color: transparent;
  padding-bottom: 0;
}

#wrapper-static-content {
  border-bottom: 1px solid $color__border;
  padding-bottom: 37px;
}

.featured-content {

  &> .wrapper {}

  @include breakpoint(md) {
    &> .wrapper {}
  }

  .entry-title {
    font-size: 2rem;
    letter-spacing: 1.33px;

    @include breakpoint(md) {
      font-size: 2.5rem;
    }
  }

  article {
    display: flex;
    flex-wrap: wrap;

    .featured-image {
      @extend .col-md-6;
    }
    .entry-body {
      @extend .col-md-6;
    }

    @include breakpoint(md) {
      .featured-image {
        padding-right: 30px;
      }
      .entry-body {
      padding-left: 30px;

        .entry-title {
          margin-bottom: 30px;
        }
        .entry-meta {
          margin-bottom: 30px;
        }
      }
    }

  }

}

#wrapper-index {

  @include breakpoint(md) {
    padding-top: 4em;
  }
}
