.iframe-container {
  @extend .embed-responsive;
  @extend .embed-responsive-4by3;

  iframe {
      min-height: 600px;
      margin-right: auto;
      margin-left: auto;
  }
}

iframe {
  border: 0;
}

.grid {
   .featured-image {
     @include aspect-ratio(7, 5);
     overflow: hidden;
     background-color: $color__gray-light;

     img {
       width: 100%;
       object-fit: cover;
     }
   }
}
