.embed-responsive {
  background-color: $color__gray-light;

  @include breakpoint(md) {
    width: 110%;
    margin-left: -5%;
  }

}

.iframe-container {
  @extend .embed-responsive;
  @extend .embed-responsive-4by3;
  margin-top: 42px;

  iframe {
      min-height: 600px;
      margin-right: auto;
      margin-left: auto;
  }
}

iframe {
  border: 0;
}

figure {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    margin-bottom: 1.5em;
    text-align: center;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.featured-image {
  a {
    display: block;
    @include aspect-ratio(176, 131);
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &.no-thumbnail a {
    background-image: url('../images/thumbnail-default.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
