#main-menu {
  text-transform: uppercase;
  font-weight: bold;

  a {
    color: $color__text-primary;
    font-size: 14px;
    letter-spacing: 0.3px;

    &:hover,
    &:focus {
      color: $color__link-hover;
    }
  }

  @include media-breakpoint-up(sm) {

    flex-direction: row;
    justify-content: flex-end;

    .menu-item + .menu-item {
      margin-left: 1em;
    }
  }
}

/**
 * Mobile
 */

[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url( '../images/close.svg' );
  background-size: 20px 20px;
}

[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url( '../images/menu.svg' );
  background-size: 30px 30px;
}

@include media-breakpoint-down(sm) {

  .navbar {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    &>.container {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: $spacer;
    }
  }

  .navbar-toggler {
    padding-right: 0;
    margin-right: 14px;
  }

  .navbar-brand {
    margin-left: 14px;

    img {
      width: 200px;
      height: auto;
    }
  }

  .navbar-nav {
    padding: 22px 14px;
    background-color: $color__gray-lightest;
  }

  .navbar-collapse:not(.show) {
    display: none;
  }
}

#wrapper-navbar {

  .container {
    align-items: center;
  }

  @include media-breakpoint-up(sm) {

    .container {
      flex-direction: row;
    }

    .navbar-brand {
      width: 222px;
      margin-left: 0;
    }

    #navbarNavDropdown {
      flex-basis: calc( 100% - (222px + 14px) );
      width: calc( 100% - 222px );
    }

    .navbar-toggler {
      display: none;
    }

    .navbar-collapse {
      display: block;
    }

    .navbar-nav {
      background-color: transparent;
    }
  }

}

/**
 * Search Bar
 */
.menu-search-icon {
  a {
    display: block;
    width: 23px;
    height: 23px;
    padding: 0 !important;
    margin-top: 6px;
    background-image: url( '../images/search.svg' );
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/**
 * Homepage Filters
 */
.taxonomy-filters {
    margin-bottom: .5em;
}

.filter-nav {
  @include no-bullets;
  text-align: center;
  margin-bottom: 2.75em;

  li {
    display: inline-block;
    font-family: $font__serif;
    margin-right: .75em;
    margin-left: .75em;

    a {
      color: $color__text-primary;
      font-size: $font__size-h5;
      font-weight: 700;
    }

    &.active {
      a {
        color: $color__accent;
        font-weight: bold;
      }
    }
  }
}

.wrapper-navbar {
  border-bottom: 2px solid $color__border;
}

/**
 * Page Navigation
 */
.nav-links {
  @extend .row;
  align-content: space-between;

  .nav-previous,
  .nav-next {
    @extend .col-sm-6;
  }

  .nav-next {
    text-align: right;
  }
}
