#main-menu {
  text-transform: uppercase;
  font-weight: bold;

  .menu-item + .menu-item {
    margin-left: 1em;
  }

  a {
    color: $color__text-primary;
  }
}

.navbar-toggler-icon {
  background-image: url( '../images/menu.svg' );
}

nav.infinite-scroll {
  width: 100%;
  button {
    margin-right: auto;
    margin-left: auto;
  }
}

.taxonomy-filters {
    margin-bottom: .5em;
}

.filter-nav {
  @include no-bullets;
  text-align: center;
  margin-bottom: 2.75em;

  li {
    display: inline-block;
    font-family: $font__serif;
    margin-right: .5em;
    margin-left: .5em;

    a {
      color: $color__text-light;
      font-size: 1.25rem;
    }

    &.active {
      a {
        color: $color__accent;
        font-weight: bold;
      }
    }
  }
}

.wrapper-navbar {
  border-bottom: 1px solid $color__gray-light;
}

.nav-links {
  @extend .row;
  align-content: space-between;

  .nav-previous,
  .nav-next {
    @extend .col-sm-6;
  }

  .nav-next {
    text-align: right;
  }
}

.menu-search-icon {
  a {
    @extend .fa;
    @extend .fa-search;
  }
}

.top-search {
  @extend .row;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid $color__gray-light;
  transition: all .2s ease-in-out;

  &.collapsed {
    max-height: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
  }

  &.expanded {
    max-height: 300px;
    visibility: visible;
    opacity: 1;
  }

  #searchform {
    @extend .col-10;
    @extend .col-md-7;

    @include breakpoint( md ) {
      padding-left: 0;
    }
  }
  input[type=text] {
    border: none;

    font-size: 1.2rem;
    color: $color__text-light;

    &::placeholder {
      font-size: 1.2rem;
      color: $color__text-xlight;
    }
  }
  input[type=submit] {
    @include visually-hidden;
  }

  .search-control {
    @extend .col-2;
    @extend .col-md-5;
    text-align: right;

    button {
      height: 17px;
      width: 17px;
      padding: 0;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-image: url( '../images/close.svg' );
    }
  }
}
