#related-posts {
  margin: 2em 0 0 -2em;
  display: flex;

  article {
    padding: 0 0 0 2em;
  }

  @include breakpoint(md) {
    article {
       flex: 0 0 50%;
    }
  }

  @include breakpoint(lg) {
    article {
       flex: 0 0 33.3333%;
    }
  }

  .related-header {
    flex-basis: 100%;
    margin: 0 0 0 32px;
    padding: 1em 0 ;
    margin-bottom: 2.5em;
    font-family: $font__sans-serif;
    font-weight: bold;
    font-size: $font__size-small;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    border-bottom: 1px solid $color__gray-light;
  }

  article {

    .entry-header {
      margin-bottom: .5em;
    }

    .entry-title {
      font-size: 22px;
      line-height: 1.125;
    }
  }

}

#infinite-handle,
#infinite-scroll {
  text-align: center;
  span {}
  button {
    @extend .btn;
    @extend .btn-secondary;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 0.875rem
  }
}

.single,
.archive,
.home,
.page {
  .sd-social-icon .sd-content ul li a.sd-button,
  .sd-social-text .sd-content ul li a.sd-button,
  .sd-content ul li a.sd-button,
  .sd-content ul li .option a.share-ustom,
  .sd-content ul li.preview-item div.option.option-smart-off a,
  .sd-content ul li.advanced a.share-more,
  .sd-social-icon-text .sd-content ul li a.sd-button,
  .sd-social-official .sd-content > ul > li > a.sd-button,
  #sharing_email .sharing_send,
  .sd-social-official .sd-content > ul > li .digg_button > a {
    height: 30px;
    width: 30px;
    border-radius: 50% !important;
    color: $color__text-inverted;
    background-color: $color__gray;
    border: none !important;
    box-shadow: none;
    text-shadow: none;
    line-height: 23px;
    padding: 0;

    &:before {
       content: none;
     }

    &:active {
      border: none;
      background-color: $color__gray;
    }

    &:hover,
    &:focus {
      border: none;
      background-color: $color__accent !important;
    }

    span {
      @include visually-hidden;
    }
  }

  li.share-facebook a {
    background-image: url( '../images/facebook.svg' ) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }

  li.share-twitter a {
    background-image: url( '../images/twitter.svg' ) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }

}

.social-menu-icons {
  ul {
    @include no-bullets;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: .5em;
    }

    .genericon {
      display: block;
      height: 30px;
      width: 30px;
      padding: 0;
      border-radius: 50%;
      background-color: $color__accent;
      color: $color__text-inverted;
      font-family: Genericons;

      &.genericon-facebook {
        background-image: url( '../images/facebook.svg' );
        background-repeat: no-repeat;
        background-position: center !important;
      }
      &.genericon-twitter {
        background-image: url( '../images/twitter.svg' );
        background-repeat: no-repeat;
        background-position: center;
      }

    }

  }

}

.mc4wp-success {
  color: $color__text-light;
}
