.single {

  .site-main > article {
    &> .entry-header,
    &> .entry-content {
      margin-right: auto;
      margin-left: auto;
    }

    &> .entry-header {
      max-width: 814px;
      margin-bottom: 2em;
    }

    &> .entry-content {
      max-width: 754px;
    }
  }

  .entry-title {
    margin-bottom: .75em;
    font-size: 3.4375rem;
    line-height: 61px;
    letter-spacing: 0.74px;
  }

  .entry-footer {
    margin-bottom: 2em;
  }

  .entry-meta {

    @extend .row;

    .post-meta,
    .sd-sharing-enabled {
      @extend .col-md-6;
    }

    .sd-sharing-enabled {
      ul {
        text-align: right;
      }

      a.sd-button {
        background-color: $color__gray !important;
      }
    }

  }

  .byline,
  .posted-on {
    display: block;
    line-height: 1.125;
  }

  .entry-meta a {
    text-transform: none;
  }

  .byline {
    font-size: 1.35rem;
    text-transform: lowercase;

    a {
      text-transform: none;
    }
  }

  .posted-on,
  .posted-on a {
    font-size: 12px;
    text-transform: uppercase;
  }

  .byline + .posted-on {
    &:before {
      content: none;
    }
  }

  .category-links {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.23px;

    a {
      color: $color__text-xlight;
    }
  }

  .single-post-image {
    margin-right: auto;
    margin-left: auto;
    max-width: 938px;
    margin-bottom: 42px;
  }
}

.archive {}

.sticky {}

.home {
  .grid article {
    align-items: stretch;
    margin-bottom: 2.5em;

    @include breakpoint(md) {
      margin-bottom: 5em;
    }

    .entry-title {
      margin-bottom: .75em;
    }

    .featured-image {
      margin-bottom: 1.75em;
    }
    .entry-meta {
      margin-bottom: 1.75em;
    }
  }
}

.archive,
.search {

  .page-header {
    margin-bottom: 2em;
  }

  .page-title {
    font-weight: bold;
    font-size: 2.25rem;
  }

  .taxonomy-description {

    @include breakpoint(md) {
      width: 70%;
    }
  }

  .post {
    margin-bottom: 3em;

    display: flex;
    flex-wrap: wrap;
  }

  .entry-content {
    margin-top: .5em;
  }

  .featured-image {
    @extend .col-md-4;
    padding-right: 0;
    padding-left: 0;

    @include breakpoint(md) {
      padding-right: $grid-gutter-width-base;
    }

  }

  .entry-body{
    @media (max-width: $screen__md - 1) {
      padding-right: 0;
      padding-left: 0;
    }
    @extend .col-md-8;
  }

}
