.single {
  figure{
      width: 100%;
      text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.archive {}

.sticky {}

.home {
  .grid article {
    align-items: stretch;
  }
}

.featured-content {
  article {
    display: flex;
    flex-wrap: wrap;

    .post-image {
      @extend .col-md-6;
    }
    .entry-body {
      @extend .col-md-6;
    }
  }
}
